
<div class="m-0 vh-50 row  align-items-center p-5">

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Interfaz ADPTI</h5>
    <p class="card-text">
      <small>Integrantes:</small>
    </p>
    <ul>
      <li>Cristian Omar Puentes Diaz</li>
      <li>Bryan Alfredo Flores Jara</li>
      <li>Fernando Aurelio Zamacona Rendon</li>
      <li>Ricardo Alejandro Flores Real</li>
    </ul>
  </div>
  <div class="card-footer">
    <small class="text-muted">{{dataDay}}</small>
  </div>
</div>

</div>
